<h2>Your Order (#<%= @order.id %>)</h2>

<table class="table table-striped">
  <thead>
    <tr> 
      <th>Item Name</th>
      <th>Price</th>
      <th>&nbsp;</th>
    </tr>
  </thead>  
  <tbody> 
    <% @items.each do |item| %>
      <tr> 
        <td><%= item.name %></td>
        <td><%= price_conversion(item.price) %></td>
        <td><%= link_to "x", controller: 'orders', action: 'delete_item', id: @order.id, item_id: item.id %></td>
      </tr>
    <% end %>
    <tr>
      <th>Subtotal</th>
      <td colspan="2"><%= price_conversion(@prics_galore) %></td>
    </tr>
  </tbody>
</table>

<%= form_for @order, html: { class: 'form-horizontal' } do |f| %>
<% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :date, "When would you like this delivered?", class: 'control-label col-xs-4' %>
    <div class="col-xs-2">
      <%= date_field("order", "date", { class: "form-control" } ) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :comments, "Any comments?", class: 'control-label col-xs-4' %>
    <div class="col-xs-4">
      <%= f.text_area :comments, cols: 30, rows: 10, class: 'form-control' %>
    </div>
  </div>

  <div class="text-center">
  <%= f.hidden_field :total_prics, :value => @prics_galore %>
  <%= f.submit 'Place Order', class: 'btn btn-primary btn-lg text-center' %>
  </div>

<% end %>