<!-- #view/items/index.html.erb is where people view the menu and select their items 

#it uses both items_controller and types_controller 

#when the user clicks "proceed to checkout", it actually goes to the orders controller
#and creates a new instance of the class order 
# once the user clicks submit, it goes to the controller 
#creates an order_id with customer name,
#takes that order_id and populates the order_items table 
#(uses instance varialbes to do so? - maybe)

# put order now buttons next to each item 
# or click into a show page for each item, change quantity, then place order 

 -->


<% @items.group_by(&:type_id).each do |type, items| %>
  
  <h2><%= type_name(type) %></h2>


  <% items.each do |i| %>
    <p><strong><%= i.name %></strong> (<%= price_conversion(i.price) %>)
      <br /> <%= i.description %>
      <%= i.is_custom == true ? '<br /><ins>You can customise this product</ins>'.html_safe : nil %></p>
      <%= link_to 'Add to order', '/items/new' %>
  <% end %>
<div>
  <%= link_to "New order", new_order_path %>
  <%= link_to "Add Item to Order!", new_item_path %>
 
</div>
<% end %> 