<!-- #view/items/index.html.erb is where people view the menu and select their items 

#it uses both items_controller and types_controller 

#when the user clicks "proceed to checkout", it actually goes to the orders controller
#and creates a new instance of the class order 
# once the user clicks submit, it goes to the controller 
#creates an order_id with customer name,
#takes that order_id and populates the order_items table 
#(uses instance varialbes to do so? - maybe) -->



<!-- 
  get all items;  (@items)
  group it by type_id;  (@items.group_by(&:type_id))
  type is 1/2/3/4; 
  items is the array of everything in the type (the group)
-->
<% @items.group_by(&:type_id).each do |type, items| %>

<!-- 
  print out the type name by going into Type (types_helper) 
-->
  <h2><%= type_name(type) %></h2>

<!--
  loop through all the items associated with the type_id
  remember - @items is the instance variable, items is just a variable within this loop block
-->
  <% items.each do |i| %>
    <p><strong><%= i.name %></strong> (<%= price_conversion(i.price) %>)
      <br /> <%= i.description %>
      <%= i.is_custom == true ? '<br /><ins>You can customise this product</ins>'.html_safe : nil %></p>

  <% end %>

<% end %>