<h2><%= @item.name %></h2>
<p> <%= @item.description %> </p>
<p> <%= price_conversion(@item.price) %> </p>

<%= form_for @item, url: items_path(@item), method: :post do |f| %>
  <label>Quantity</label>
  <%= number_field_tag 'quantity' %>
  <%= hidden_field_tag 'id', @item.id %>
  <br /><br />
  <%= f.submit 'Add Item to Order!', class: 'btn btn-success' %>
<% end %>

<!-- 
    t.integer  "type_id"
    t.boolean  "is_custom"
    t.integer  "price"
    t.string   "name"
    t.text     "description" -->